<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bt.mapper.BranchSQLMapper">
	
	<select id="createKey" resultType="int">
   <![CDATA[
      SELECT branch_seq.nextval FROM DUAL
   ]]>
   </select>
   
   <select id="selectAll" resultType="com.bt.vo.BranchVo">
   <![CDATA[
      SELECT * FROM Branch 
   ]]>
   </select>

   <select id="selectBranchByType" resultType="com.bt.vo.BranchVo">
   <![CDATA[
      SELECT * FROM Branch WHERE branch_type_no = #{branch_type_no}
   ]]>
   </select>


   <select id="selectByBTN" resultType="com.bt.vo.BranchVo">
   <![CDATA[
      SELECT * FROM Branch WHERE branch_type_no = 2
   ]]>
   </select>

   <select id="selectByEmpCode2" resultType="com.bt.vo.BranchVo">
   <![CDATA[
      SELECT DISTINCT Branch.* FROM Branch,employee WHERE
      branch.emp_code = employee.emp_code and branch.branch_type_no=3 and
      employee.emp_code = #{emp_code}
      
   ]]>
   </select>
   <select id="selectByEmpCode" resultType="com.bt.vo.BranchVo">
   <![CDATA[
      SELECT DISTINCT Branch.* FROM Branch,employee WHERE
      branch.emp_code = employee.emp_code and branch.branch_type_no=2 and
      employee.emp_code = #{emp_code}
      
   ]]>
   </select>

   <select id="selectByNo" resultType="com.bt.vo.BranchVo">
   <![CDATA[
      SELECT * FROM Branch WHERE branch_no = 1
   ]]>
   </select>

   <select id="selectByBNO" resultType="com.bt.vo.BranchVo">
   <![CDATA[
      SELECT * FROM Branch WHERE branch_no = #{branch_no}
   ]]>
   </select>


   <select id="selectByBranchName" resultType="com.bt.vo.BranchVo">
   <![CDATA[
   SELECT *
          FROM (
            SELECT ROWNUM rnum, t1.*
            FROM(
         SELECT br.* FROM Branch br, Area ar, department dp, employee ep 
      WHERE br.branch_no = ar.branch_no
      AND br.branch_name LIKE '%'|| #{branch_name} ||'%']]>
      <if test="dept_no!=0">
         AND ar.dept_no =#{dept_no}
         AND dp.dept_no=#{dept_no}
      </if>
<![CDATA[
      AND ar.dept_no = dp.dept_no
      AND ep.branch_no = ar.branch_no
      and ep.emp_code = br.emp_code
      and br.branch_type_no=2
      ) t1
              ) t2

          WHERE t2.rnum >= (#{curr_page}-1)*10+1 AND t2.rnum <= #{curr_page}*10
   ]]>
   </select>


   <select id="selectFactory" resultType="com.bt.vo.BranchVo">
   <![CDATA[
         SELECT * FROM Branch WHERE branch_type_no = 3
   ]]>
   </select>

   <select id="selectStore" resultType="com.bt.vo.BranchVo">
   <![CDATA[
         SELECT * FROM Branch WHERE branch_type_no = 2
   ]]>
   </select>

   <select id="select_ShowAllBranch"
      resultType="com.bt.vo.BranchVo">
   <![CDATA[
         SELECT * FROM Branch 
   ]]>
   </select>

   <select id="selectByBranchNo_read_store_page"
      resultType="com.bt.vo.BranchVo">
   <![CDATA[
         SELECT *
          FROM (
            SELECT ROWNUM rnum, t1.*
            FROM(
         SELECT * FROM Branch where branch_no=#{branch_no}
         ) t1
              ) t2
          WHERE t2.rnum >= (#{curr_page}-1)*10+1 AND t2.rnum <= #{curr_page}*10
   ]]>
   </select>


   <select id="selectByBranchNo_read_factory_page"
      resultType="com.bt.vo.BranchVo">
   <![CDATA[
      SELECT *
          FROM (
            SELECT ROWNUM rnum, t1.*
            FROM(
         SELECT * FROM Branch where branch_no=#{branch_no}
         ) t1
              ) t2
   WHERE t2.rnum >= (#{curr_page}-1)*10+1 AND t2.rnum <= #{curr_page}*10
   ]]>
   </select>


   <select id="insertFactoryByEmp_code"
      resultType="com.bt.vo.BranchVo">   
   <![CDATA[    
         insert into branch    
      values   
      (   
      #{branch_no},   
      #{branch_name},   
      #{branch_address},   
      #{branch_phone},   
      3,   
      0)   
   ]]>
   </select>

   <select id="insertStoreByEmp_code"
      resultType="com.bt.vo.BranchVo">   
   <![CDATA[    
         insert into branch    
      values   
      (   
      #{branch_no},   
      #{branch_name},   
      #{branch_address},   
      #{branch_phone},   
      2,   
      0)   
   ]]>
   </select>



   <select id="getBoardList_store_paging" resultType="int">
   <![CDATA[

         SELECT count(*) FROM (
         
         
      select branch.*
      from employee, branch
      where 
      branch.emp_code = employee.emp_code and
      branch.branch_type_no=2 
      
      and employee.emp_name like '%'|| #{emp_name} ||'%' 
      and branch.branch_address like '%'|| #{branch_address} ||'%']]>

      <if test="branch_no!=0">
         and branch.branch_no=#{branch_no}
      </if>
   <![CDATA[
         )
      
   ]]>
   </select>

   <select id="getBoardList_factory_paging" resultType="int">
      <![CDATA[

         SELECT count(*) FROM (
         
         
      select branch.*
      from employee, branch
      where 
      branch.emp_code = employee.emp_code and
      branch.branch_type_no=3 
      
      and employee.emp_name like '%'|| #{emp_name} ||'%' 
      and branch.branch_address like '%'|| #{branch_address} ||'%']]>

      <if test="branch_no!=0">
         and branch.branch_no=#{branch_no}
      </if>
   <![CDATA[
         )
      
   ]]>
   </select>
   <select id="getBoardList_logistics_paging" resultType="int">
   <![CDATA[
   select count(*) from(
         SELECT br.* FROM Branch br, Area ar 
      WHERE br.branch_no = ar.branch_no
      AND br.branch_address LIKE '%'|| #{branch_name} ||'%'
      AND ar.dept_no = #{dept_no}
      )
   ]]>
   </select>


   <select id="getBoardList_All_store"
      resultType="com.bt.vo.BranchVo">   
   <![CDATA[   
   select branch.* from branch where branch.branch_type_no=2 and branch.emp_code!=0   
   and branch.branch_name not in (select branch.branch_name from area,branch where branch.branch_no = area.branch_no)   
   ]]>
   </select>
   
   <select id="selectBySodn" resultType="com.bt.vo.BranchVo">
   <![CDATA[
      SELECT
         b.branch_no,
         b.branch_name
      FROM
       Store_order_detail d, Store_order_reservation r, Employee e, Branch b
      WHERE d.store_order_res_code = r.store_order_res_code
      AND e.emp_code = r.emp_code
      AND b.branch_no = e.branch_no
        AND d.store_order_detail_no = #{store_order_detail_no}
   ]]>
   </select>

   <update id="modifyStore">
   <![CDATA[
      update branch set branch_name=#{branch_name},emp_code=#{emp_code},
       branch_phone=#{branch_phone}, branch_address=#{branch_address} 
       where branch_no=#{branch_no} and branch_type_no=2
   ]]>
   </update>

   <update id="modifyFactory">
   <![CDATA[
      update branch set branch_name=#{branch_name},emp_code=#{emp_code},
       branch_phone=#{branch_phone}, branch_address=#{branch_address} 
       where branch_no=#{branch_no} and branch_type_no=3
   ]]>
   </update>

   <select id="selectByEmpName_and_EmpAddressForStore"
      resultType="com.bt.vo.BranchVo">   
      <![CDATA[   
         SELECT *   
          FROM (   
            SELECT ROWNUM rnum, t1.*   
            FROM(   
      select branch.*   
      from employee, branch   
      where    
      branch.emp_code = employee.emp_code and   
      branch.branch_type_no=2    
         
      and employee.emp_name like '%'|| #{emp_name} ||'%'    
      and branch.branch_address like '%'|| #{branch_address} ||'%'   
      ]]>
      <if test="branch_no!=0">
         and branch.branch_no=#{branch_no}
      </if>
      order by employee.emp_code ASC   
      <![CDATA[) t1   
              ) t2   
          WHERE t2.rnum >= (#{curr_page}-1)*10+1 AND t2.rnum <= #{curr_page}*10]]>
   </select>
   <select id="selectByEmpName_and_EmpAddressForFactory"
      resultType="com.bt.vo.BranchVo">   
      <![CDATA[   
         SELECT *   
          FROM (   
            SELECT ROWNUM rnum, t1.*   
            FROM(   
      select branch.*   
      from employee, branch   
      where    
      branch.emp_code = employee.emp_code and   
      branch.branch_type_no=3    
         
      and employee.emp_name like '%'|| #{emp_name} ||'%'    
      and branch.branch_address like '%'|| #{branch_address} ||'%'   
      ]]>
      <if test="branch_no!=0">
         and branch.branch_no=#{branch_no}
      </if>
      order by employee.emp_code ASC   
      <![CDATA[) t1   
              ) t2   
          WHERE t2.rnum >= (#{curr_page}-1)*10+1 AND t2.rnum <= #{curr_page}*10]]>
   </select>
   
   <select id="getBranchNameByEmpCode"
      resultType="com.bt.vo.BranchVo">
   <![CDATA[
      SELECT * FROM Branch WHERE emp_code = #{emp_code}
   ]]>
   </select>
   
   <select id="getBranchListByDeptNo"
      resultType="com.bt.vo.BranchVo">
   <![CDATA[
    select distinct branch.* from branch,department
   where department.dept_type_no=branch.branch_type_no+1
and (branch.branch_type_no=2 or branch.branch_type_no=3)and department.dept_no=#{dept_no}]]>
   </select>


   <select id="getBranchListByDeptNoForEmployeeAdd"
      resultType="com.bt.vo.BranchVo">
   <![CDATA[
   select branch.* from branch,department
   where department.dept_no=#{dept_no}]]>
      <if test="dept_no==10">and branch.branch_name = '본사'</if>
      <if test="dept_no==21">and branch.branch_name = '물류1팀'</if>
      <if test="dept_no==22">and branch.branch_name = '물류2팀'</if>
      <if test="dept_no==23">and branch.branch_name = '물류3팀'</if>
      <if test="dept_no==30">and branch.branch_type_no=2</if>
      <if test="dept_no==40">and branch.branch_type_no=3</if>
   </select>

   <update id="resignationMakeBranchNotoZero">
   <![CDATA[
      update branch set emp_code=0
      where emp_code=#{emp_code}
   ]]>
   </update>



</mapper>