<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bt.mapper.DeliverySQLMapper">

	<insert id="insert">
		<![CDATA[
		INSERT INTO Delivery
			VALUES(
			delivery_seq.nextval,
			#{invoice_no},
			#{emp_code},
			#{store_order_detail_no},
			SYSDATE
		)
		]]>
	</insert>
	
	<select id="selectAll" resultType="com.bt.production.vo.DeliveryVo">
	<![CDATA[
		SELECT * FROM (
			SELECT ROWNUM rnum, t1.* FROM (
				SELECT 
                    d.invoice_no,
                    d.store_order_detail_no,
                    d.delivery_date,
                    e.emp_name,
                    d.emp_code
                FROM Delivery d, Employee e, Branch b
                WHERE d.emp_code = e.emp_code
                    AND e.branch_no = b.branch_no
                    AND e.branch_no = #{session_branch_no}
                ORDER BY d.delivery_no DESC) t1) t2
            WHERE t2.rnum >= (#{currPage}-1)*5+1 AND t2.rnum <= #{currPage}*5
	]]>
	</select>
	
	<select id="selectBySearch" resultType="com.bt.production.vo.DeliveryVo">
		
		SELECT * FROM (
		<![CDATA[
			SELECT ROWNUM rnum, t1.* FROM (
			]]>
		SELECT 
			d.store_order_detail_no,
			d.invoice_no,
			d.delivery_date,
			e.emp_name,
			e.emp_code,
			t1.branch_name
		FROM Delivery d, Store_order_detail s, Employee e, Branch b, (
			SELECT
            d.store_order_detail_no,
			b.branch_no,
			b.branch_name
		FROM
		 Store_order_detail d, Store_order_reservation r, Employee e, Branch b
		WHERE d.store_order_res_code = r.store_order_res_code
		AND e.emp_code = r.emp_code
		AND b.branch_no = e.branch_no
		<if test="branch_no != 0">
        AND b.branch_no = #{branch_no}
        </if>
		) t1
			WHERE d.store_order_detail_no = s.store_order_detail_no
			AND d.emp_code = e.emp_code
			AND e.branch_no = b.branch_no
			AND e.branch_no = #{session_branch_no}
		<if test="store_order_detail_no != 0">
			AND d.store_order_detail_no = #{store_order_detail_no}
		</if>
		<if test="invoice_no != 0">
			AND d.invoice_no = #{invoice_no}
		</if>
		<if test="start_date != null and end_date != null"> 
            AND d.delivery_date BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD') AND TO_DATE(#{end_date},'YYYY-MM-DD') 
        </if>
		ORDER BY d.delivery_no DESC) t1) t2
		<![CDATA[
            WHERE t2.rnum >= (#{currPage}-1)*5+1 AND t2.rnum <= #{currPage}*5
            ]]>
	</select>
	
	<select id="selectBySodn" resultType="com.bt.production.vo.DeliveryVo">
	<![CDATA[
		SELECT 
			d.invoice_no,
			d.store_order_detail_no,
			to_date(d.delivery_date, 'yyyy-mm-dd')+3 as delivery_date,
			d.emp_code,
			e.emp_name,
			t1.branch_name,
			t1.branch_no,
			t1.branch_address,
			t1.branch_phone,
			t1.product_name
		FROM Delivery d, Store_order_detail s, Employee e, (
			SELECT
				s.store_order_detail_no,
				b.branch_no,
				b.branch_name,
				b.branch_address,
				b.branch_phone,
				p.product_no,
				p.product_name
			FROM Store_order_detail s, Store_order_reservation r, Employee e, Branch b, Product p
			WHERE s.store_order_res_code = r.store_order_res_code
			AND r.emp_code = e.emp_code
			AND e.branch_no = b.branch_no
			AND p.product_no = s.product_no
			AND s.store_order_detail_no = #{store_order_detail_no}) t1
			WHERE d.store_order_detail_no = s.store_order_detail_no
			AND e.emp_code = d.emp_code
			AND t1.store_order_detail_no = d.store_order_detail_no
			AND d.store_order_detail_no = #{store_order_detail_no}
	]]>
	</select>
	
	<select id="selectAllCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*)
                FROM Delivery d, Employee e, Branch b
                WHERE d.emp_code = e.emp_code
                    AND e.branch_no = b.branch_no
                    AND e.branch_no = #{branch_no}
	]]>
	</select>
	
	<select id="selectSearchCount" resultType="int">
		SELECT COUNT(*)
                FROM Delivery d, Store_order_detail s, Employee e, Branch b, (
			SELECT
            d.store_order_detail_no,
			b.branch_no,
			b.branch_name
		FROM
		 Store_order_detail d, Store_order_reservation r, Employee e, Branch b
		WHERE d.store_order_res_code = r.store_order_res_code
		AND e.emp_code = r.emp_code
		AND b.branch_no = e.branch_no
		<if test="branch_no != 0">
        AND b.branch_no = #{branch_no}
        </if>
		) t1
			WHERE d.store_order_detail_no = s.store_order_detail_no
			AND d.emp_code = e.emp_code
			AND e.branch_no = b.branch_no
			AND e.branch_no = #{session_branch_no}
		<if test="store_order_detail_no != 0">
			AND d.store_order_detail_no = #{store_order_detail_no}
		</if>
		<if test="invoice_no != 0">
			AND d.invoice_no = #{invoice_no}
		</if>
		<if test="start_date != null and end_date != null"> 
            AND d.delivery_date BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD') AND TO_DATE(#{end_date},'YYYY-MM-DD') 
        </if>
	</select>
</mapper>