<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bt.mapper.DepartmentBoardSQLMapper">

   <select id="createKey" resultType="int">
      SELECT Department_board_seq.nextval
      FROM DUAL
   </select>

   <select id="selectAll"
      resultType="com.bt.vo.DepartmentBoardVo">
   <![CDATA[
      SELECT * FROM (
         SELECT ROWNUM rnum, t1.* FROM (
            SELECT * FROM Department_board
            WHERE dept_type_no = #{dept_type_no}
            ORDER BY dept_board_no DESC) t1) t2
      WHERE t2.rnum >= (#{currPage}-1)*10+1 AND t2.rnum <= (#{currPage})*10
      ]]>
   </select>
   
   <select id="selectnotice"
      resultType="com.bt.vo.DepartmentBoardVo">
   <![CDATA[
      SELECT * FROM (
         SELECT ROWNUM rnum, t1.* FROM (
            SELECT * FROM Department_board
            where check_notice='Y'
            AND dept_type_no = #{dept_type_no}
            ORDER BY dept_board_no DESC) t1) t2
      WHERE t2.rnum >= (#{currPage}-1)*10+1 AND t2.rnum <= #{currPage}*10
   ]]>
   </select>

   <insert id="insert">
   <![CDATA[
      INSERT INTO Department_board
      VALUES(
      #{dept_board_no},
      #{dept_board_title},
      #{emp_code},
      SYSDATE,
      #{dept_board_content},
      0,
      #{dept_type_no},
      'N'
      )
   ]]>
   </insert>
   
   <select id="selectByNo"
      resultType="com.bt.vo.DepartmentBoardVo">

      SELECT * FROM Department_board
      WHERE dept_board_no = #{dept_board_no}
      AND dept_type_no = #{dept_type_no}
   </select>
   
   <select id="selectByNoAndCode"
      resultType="com.bt.vo.DepartmentBoardVo">
      SELECT * FROM Department_board
      WHERE dept_board_no = #{dept_board_no}
      AND dept_type_no = #{dept_type_no}
      AND emp_code = #{emp_code}
   </select>
   
   <update id="update">
   <![CDATA[
      UPDATE Department_board SET dept_board_title = #{dept_board_title}, dept_board_content = #{dept_board_content}
      WHERE dept_board_no = #{dept_board_no} AND emp_code = #{emp_code}
   ]]>
   </update>
   
   <delete id="delete">
   <![CDATA[
      DELETE FROM Department_board WHERE dept_board_no = #{dept_board_no} AND emp_code = #{emp_code}
   ]]>
   </delete>
   
   <update id="updateCheck">
   <![CDATA[
      UPDATE Department_board SET check_notice = 'Y' WHERE dept_board_no = #{dept_board_no} AND emp_code = #{emp_code}
   ]]>
   </update>
   
   <update id="updateView">
   <![CDATA[
      UPDATE Department_board SET dept_board_view = dept_board_view + 1 WHERE dept_board_no = #{dept_board_no}
   ]]>
   </update>
   
   <select id="selectByTitle"
      resultType="com.bt.vo.DepartmentBoardVo">
      
      SELECT * FROM (
         SELECT ROWNUM rnum, t1.* FROM (
            select a.* from
            Department_board a, employee b
			WHERE a.emp_code = b.emp_code
            and a.dept_type_no=#{dept_type_no}
         
            <if test="dept_board_title!=null">
              AND   a.dept_board_title LIKE '%'||#{dept_board_title}||'%'
             </if>
               
               <if test="dept_content!=null">
               AND a.dept_board_content LIKE '%'|| #{dept_content} ||'%'
               </if>
               
               <if test="dept_writer!=null">
               AND b.emp_name LIKE '%'|| #{dept_writer} ||'%'
               </if>
            ORDER BY dept_board_no DESC) t1) t2
      <![CDATA[
      WHERE t2.rnum >= (#{currPage}-1)*10+1 AND t2.rnum <= #{currPage}*10
      ]]>
   </select>
   
   
   <select id="selectnoticeByTitle"
      resultType="com.bt.vo.DepartmentBoardVo">
      
      SELECT * FROM (
         SELECT ROWNUM rnum, t1.* FROM (
            SELECT a.* from 
            Department_board a, employee c
            WHERE a.emp_code=c.emp_code
            and a.dept_type_no = #{dept_type_no}
            and a.check_notice='Y'
            
            <if test="dept_board_title!=null">
              AND  a.dept_board_title LIKE '%'||#{dept_board_title}||'%'
             </if>
               
               <if test="dept_content!=null">
               AND a.dept_board_content LIKE '%'|| #{dept_content} ||'%'
               </if>
               
               <if test="dept_writer!=null">
               AND c.emp_name LIKE '%'|| #{dept_writer} ||'%'
               </if>
            
            ORDER BY a.dept_board_no DESC) t1) t2
      <![CDATA[
      WHERE t2.rnum >= (#{currPage}-1)*10+1 AND t2.rnum <= #{currPage}*10
      ]]>
   </select>
   
   <select id="selectAllCount"
      resultType="int">
      <![CDATA[
      SELECT COUNT(*) 
      FROM Department_board
      WHERE dept_type_no = #{dept_type_no}
      ]]>
   </select>
   
   <select id="selectByTitleCount" resultType="int">
      
      SELECT COUNT(*) FROM Department_board a, Employee b
      WHERE a.emp_code=b.emp_code
      AND a.dept_type_no = #{dept_type_no}
      		<if test="dept_board_title!=null">
              AND   a.dept_board_title LIKE '%'||#{dept_board_title}||'%'
             </if>
               
               <if test="dept_content!=null">
               AND a.dept_board_content LIKE '%'|| #{dept_content} ||'%'
               </if>
               
               <if test="dept_writer!=null">
               AND b.emp_name LIKE '%'|| #{dept_writer} ||'%'
               </if>
      
      
   </select>
</mapper>