<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bt.mapper.FactoryOrderDetailSQLMapper">

<insert id="insert">
   <![CDATA[
      INSERT INTO Factory_order_detail
      VALUES(
      factory_order_detail_seq.nextval,
      #{factory_order_code},
      #{comp_no},
      #{supplier_no},
      #{factory_order_qty},
      #{factory_order_note},
      'N'
      )
   ]]>
   </insert>
   
   <select id="getFactoryOrderDetailInfo" resultType="com.bt.production.vo.FactoryOrderDetailVo">
      <![CDATA[
      select 

      factory_order_detail.*

      from 
      supplier,
      factory_order,
      factory_order_detail,
      Product_component,
      branch,
      employee
      where
      factory_order_detail.comp_no = product_component.comp_no 
      and
      factory_order_detail.comp_no = supplier.comp_no
      and
      supplier.comp_no = product_component.comp_no 
      and
      branch.emp_code = factory_order.emp_code
      and
      employee.emp_code = branch.emp_code
      and
      factory_order.factory_order_code = factory_order_detail.factory_order_code
      and
      supplier.supplier_no = factory_order_detail.supplier_no
      and
      factory_order.emp_code=#{emp_code}
      and
      factory_order.factory_order_res_no=#{factory_order_res_no}
      ]]>
   </select>
   
   <select id="getOrderDetail" resultType="com.bt.production.vo.FactoryOrderDetailVo">
      SELECT 
         f.factory_order_res_no,
         d.factory_order_detail_no,
         f.factory_order_code,
         d.comp_no,
         c.comp_name,
         d.factory_order_qty,
         d.factory_order_note,
         d.check_approval,
         d.supplier_no,
         s.supplier_name,
         f.emp_code,
         e.emp_code,
         e.emp_name
      FROM Factory_order f, Factory_order_detail d, Product_component c, Supplier s, Employee e
      WHERE f.factory_order_code = d.factory_order_code
      AND d.comp_no = c.comp_no
      AND d.supplier_no = s.supplier_no
      AND f.emp_code = e.emp_code
      AND f.factory_order_code = #{factory_order_code}
   </select>
   
   <select id="getNoneOrder" resultType="com.bt.production.vo.FactoryOrderDetailVo">
      SELECT 
d.factory_order_detail_no,
d.factory_order_qty,
d.check_approval,
d.comp_no,
c.comp_name
FROM Factory_order_detail d, Factory_order f, Employee e, Branch b, Product_component c
WHERE d.factory_order_code = f.factory_order_code
AND f.emp_code = e.emp_code
AND e.branch_no = b.branch_no
AND d.comp_no = c.comp_no
AND e.branch_no = #{branch_no}
AND check_approval = 'N'
   </select>
   
   <update id="update">
   <![CDATA[
      UPDATE Factory_order_detail SET check_approval = 'Y'
      WHERE factory_order_detail_no = #{factory_order_detail_no}
   ]]>
   </update>
   
   <select id="selectByFodn" resultType="com.bt.production.vo.FactoryOrderDetailVo">
      SELECT * FROM Factory_order_detail WHERE factory_order_detail_no = #{factory_order_detail_no}
   </select>
   
   <select id="selectOrderCount" resultType="int">
      SELECT 
COUNT(*)
FROM Factory_order_detail d, Factory_order f, Employee e, Branch b
WHERE d.factory_order_code = f.factory_order_code
AND f.emp_code = e.emp_code
AND e.branch_no = b.branch_no
AND e.branch_no = #{branch_no}
AND check_approval = 'N'
   </select>
   
</mapper>