<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bt.mapper.FactoryOutItemSQLMapper">

   <insert id="insert">
   <![CDATA[
      INSERT INTO Factory_out_item
      VALUES(
      #{factory_out_item_code},
      #{factory_out_item_no},
      #{product_no},
      #{factory_out_item_qty},
      #{emp_code},
      TO_DATE(#{factory_out_item_date},'YYYY-MM-DD'),
      #{branch_no}
      )
   ]]>
   </insert>

   <select id="createKey" resultType="int">
      SELECT
      Factory_out_item_seq.nextval
      FROM DUAL
   </select>

   <select id="selectAll"
      resultType="com.bt.production.vo.FactoryOutItemVo">
       <![CDATA[
      SELECT * FROM(
    SELECT ROWNUM rnum, t1.* FROM (]]>
           SELECT 
      o.factory_out_item_code,
      o.factory_out_item_no,
      o.product_no,
      o.factory_out_item_qty,
      o.emp_code,   
      o.factory_out_item_date,
      o.branch_no
      FROM Factory_out_item o, Employee e
      WHERE o.emp_code = e.emp_code
      AND e.branch_no = #{branch_no}
      <if test="sort == 0">
        ORDER BY o.factory_out_item_code DESC
        </if>
        <if test="sort == 2">
        ORDER BY o.factory_out_item_qty DESC
        </if>
        <if test="sort == 3">
        ORDER BY o.factory_out_item_date DESC
        </if>
        ) t1 ) t2
        <![CDATA[
        WHERE t2.rnum >= (#{currPage}-1)*5+1 AND t2.rnum <= #{currPage}*5
        ]]>
   </select>

  <select id="selectOutItem"
      resultType="com.bt.production.vo.FactoryOutItemVo">
      SELECT * FROM(
      <![CDATA[
             SELECT ROWNUM rnum, t1.* FROM(
          ]]>
              SELECT f.factory_out_item_no,  
              p.product_name,
              f.factory_out_item_qty,
              e.emp_name,
              f.factory_out_item_date,
              b.branch_name,
              b.branch_no,
              p.product_no,
              e.emp_code
              FROM Factory_out_item f, Product p, Employee e, Branch b
              WHERE f.emp_code = e.emp_code
              AND f.branch_no = b.branch_no
              AND f.product_no = p.product_no
              <if test="factory_out_item_no != 0">
              AND f.factory_out_item_no = #{factory_out_item_no}
              </if>
              <if test="product_no != 0">
              AND p.product_no = #{product_no}
              </if>
              <if test="branch_no != 0">
              AND b.branch_no = #{branch_no}
              </if>
              <if test="start_date != null and end_date != null">
        	  AND f.factory_out_item_date BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD') AND TO_DATE(#{end_date},'YYYY-MM-DD') 
        	  </if>
              AND e.branch_no = #{session_branch_no}
              ORDER BY f.factory_out_item_code DESC
              <if test="sort == 2">
              ORDER BY o.factory_out_item_qty DESC
              </if>
              <if test="sort == 3">
              ORDER BY o.factory_out_item_date DESC
              </if>
              ) t1) t2
              <![CDATA[
              WHERE t2.rnum >= (#{currPage}-1)*5+1 AND t2.rnum <= #{currPage}*5
              ]]>
        
   </select>

   <select id="selectAllCount" resultType="int">
      SELECT COUNT(*)
      FROM Factory_out_item f, Employee e, Branch b
      WHERE f.emp_code = e.emp_code
      AND e.branch_no = b.branch_no
      AND e.branch_no = #{branch_no}
   </select>
   
   <select id="selectSearchCount" resultType="int">
      SELECT COUNT(*)
      FROM Factory_out_item f, Product p, Employee e, Branch b
              WHERE f.emp_code = e.emp_code
              AND f.branch_no = b.branch_no
              AND f.product_no = p.product_no
              <if test="factory_out_item_no != 0">
              AND f.factory_out_item_no = #{factory_out_item_no}
              </if>
              <if test="product_no != 0">
              AND p.product_no = #{product_no}
              </if>
              <if test="branch_no != 0">
              AND b.branch_no = #{branch_no}
              </if>
              <if test="start_date != null and end_date != null">
        	  AND f.factory_out_item_date BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD') AND TO_DATE(#{end_date},'YYYY-MM-DD') 
        	  </if>
              AND e.branch_no = #{session_branch_no}
   </select>
</mapper>