<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bt.mapper.LogisticsSQLMapper">

   <!-- 발주전체리스트 -->
   <select id="selectAllListByDeptNo" resultType="com.bt.vo.StoreOrderReservationVo">
   <![CDATA[
   SELECT * 
    FROM (SELECT ROWNUM AS rnum , t2.* 
          FROM (SELECT t1.* 
                FROM ( SELECT * 
                      FROM Store_order_reservation 
                      WHERE emp_code 
                      IN(SELECT emp_code 
                         FROM Employee 
                         WHERE branch_no 
                         IN (SELECT branch_no FROM Area WHERE dept_no = #{dept_no} ))
                     ) t1, Employee E
         WHERE t1.emp_code = E.emp_code) t2) t3
   WHERE t3.rnum >=(#{currPage}-1)*10+1 AND t3.rnum <= #{currPage}*10


   ]]>
   </select>
   

   
   <!-- 발주조회 검색 -->
   <select id="selectSearchListByDeptNo" resultType="com.bt.vo.StoreOrderReservationVo">
   
   <![CDATA[
      
   SELECT * 
    FROM (SELECT ROWNUM AS rnum , t2.* 
          FROM (SELECT t1.* 
                FROM ( SELECT * 
                      FROM Store_order_reservation 
                      WHERE emp_code 
                      IN(SELECT emp_code 
                         FROM Employee 
                         WHERE branch_no 
                         IN (SELECT branch_no FROM Area WHERE dept_no = #{dept_no} ))
                     ) t1, Employee E
         WHERE t1.emp_code = E.emp_code
         
      ]]>
         <if test="store_order_res_no != null">
         AND store_order_res_no LIKE '%'|| #{store_order_res_no} ||'%'
         </if>
         
         <if test="store_order_detail_no != 0">
         AND t1.store_order_res_code IN (SELECT store_order_res_code FROM store_order_detail WHERE store_order_detail_no = #{store_order_detail_no})
         </if>
         
         <if test="emp_name != null">
           AND E.emp_name Like '%' || #{emp_name} || '%'
         </if>
         
         <if test="start_date!=null and end_date!=null">
         
         AND t1.store_order_res_date 
         BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD')
         AND TO_DATE(#{end_date},'YYYY-MM-DD')
         </if>
         
   <![CDATA[
         ORDER BY store_order_res_code DESC) t2) t3
      WHERE t3.rnum >=(#{currPage}-1)*10+1 AND t3.rnum <= #{currPage}*10
    ]]>  
      
 
   </select>
   
   <!-- 발주조회 게시글수 -->
   <select id="selectCntAllList" resultType="int">
    <![CDATA[
    SELECT COUNT(*)
   FROM(SELECT t1.*
      FROM(SELECT * 
          FROM Store_order_reservation 
          WHERE emp_code 
          IN(SELECT emp_code 
             FROM Employee 
             WHERE branch_no 
             IN (SELECT branch_no FROM Area WHERE dept_no = #{dept_no} ))
                     ) t1, Employee E
      WHERE t1.emp_code = E.emp_code
      ]]>
      
         <if test="store_order_res_no != null">
         AND store_order_res_no LIKE '%'|| #{store_order_res_no} ||'%'
         </if>
         
         <if test="store_order_detail_no != 0">
         AND t1.store_order_res_code IN (SELECT store_order_res_code FROM store_order_detail WHERE store_order_detail_no = #{store_order_detail_no})
         </if>
         
         
         <if test="emp_name != null">
           AND E.emp_name Like '%' || #{emp_name} || '%'
         </if>
         
         <if test="start_date!=null and end_date!=null">
         AND t1.store_order_res_date 
         BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD')
         AND TO_DATE(#{end_date},'YYYY-MM-DD')
         </if>      
   <![CDATA[
      ORDER BY store_order_res_code DESC)
   
   ]]>
          
    </select>
    
    
    <!-- 발주 상세리스트 -->
   <select id="selectOrderDetailByResCode" resultType="com.bt.vo.StoreOrderDetailVo">
   <![CDATA[
   
      SELECT * 
      FROM store_order_detail 
      WHERE store_order_res_code = #{store_order_res_code} 
      ORDER BY store_order_detail_no DESC
       
    ]]>
   </select>
    
    
   
   <!-- 1차검토 전체리스트 -->
   <select id="selectListByProNoOne" resultType="com.bt.vo.StoreOrderDetailVo">
   <![CDATA[
   SELECT * 
   FROM(SELECT ROWNUM rnum, t3.*
         FROM(SELECT d.*
              FROM(SELECT *
                   FROM (SELECT *
                         FROM Store_order_reservation
                         WHERE emp_code
                         IN(SELECT emp_code
                            FROM Employee
                            WHERE branch_no
                            IN (SELECT branch_no 
                                FROM Area 
                                WHERE dept_no = #{dept_no})
                           ))t1, Employee E
                    WHERE t1.emp_code = E.emp_code
                    )t2 , Store_order_detail D
               WHERE t2.store_order_res_code = D.store_order_res_code
               AND D.store_order_detail_no 
               IN (SELECT store_order_detail_no
                   FROM Process_status
                   WHERE store_order_detail_no IN(SELECT store_order_detail_no
                                                  FROM Process_status
                                                  GROUP BY store_order_detail_no
                                                  HAVING MAX(process_no) = 1)
                   AND flag='Y'
                   AND process_no = 1
                  )
           AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
           ORDER BY D.store_order_detail_no DESC) t3
        ) t4
    WHERE t4.rnum >= (#{currPage}-1)*10+1 AND t4.rnum <= #{currPage}*10
    ]]>
   </select>
      
   <!-- 1차검토 검색 -->
   <select id="selectSearchListByProNoOne" resultType="com.bt.vo.StoreOrderDetailVo">
   
   <![CDATA[
   SELECT * 
   FROM(SELECT ROWNUM rnum, t3.*
         FROM(SELECT d.*
           FROM(SELECT *
               FROM(SELECT *
                  FROM Store_order_reservation
                  WHERE emp_code
                  IN(SELECT emp_code
                     FROM Employee
                     WHERE branch_no
                         IN (
                              SELECT branch_no 
                              FROM Area 
                              WHERE dept_no = #{dept_no}
                              )
                      )
                      )t1, Employee E
                  WHERE t1.emp_code = E.emp_code
         )t2 , Store_order_detail D
         WHERE t2.store_order_res_code = D.store_order_res_code
         AND D.store_order_detail_no 
             IN (SELECT store_order_detail_no
                 FROM Process_status
                 WHERE store_order_detail_no IN
                                              (SELECT store_order_detail_no
                                              FROM Process_status
                                              GROUP BY store_order_detail_no
                                              HAVING MAX(process_no) = 1)
                 AND flag='Y'
                 AND process_no = 1
                 )
         AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
      
         ]]>
         
         <if test="store_order_res_no != null">
          AND d.store_order_res_code IN (SELECT store_order_res_code FROM Store_order_reservation WHERE store_order_res_no Like '%'|| #{store_order_res_no} ||'%')
         </if>
         
         <if test="store_order_detail_no != 0">
         AND d.store_order_detail_no = #{store_order_detail_no}
         </if>
         
         
         <if test="product_name != null">
            AND d.product_no IN (SELECT product_no FROM product WHERE product_name Like '%' || #{product_name} || '%')
         </if>
      
         
         <if test="emp_name != null">
             AND d.store_order_res_code IN(
                                     SELECT store_order_res_code FROM Employee E, Store_order_reservation S
                                     WHERE E.emp_code = S.emp_code
                                     AND E.emp_name Like '%' || #{emp_name} || '%'
                                     )
           </if>
         
         
         <if test="start_date!=null and end_date!=null">
         AND d.store_order_generating_time 
         BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD')
         AND TO_DATE(#{end_date},'YYYY-MM-DD')
         </if>
   <![CDATA[
          ORDER BY D.store_order_detail_no DESC) t3
        ) t4
    WHERE t4.rnum >= (#{currPage}-1)*10+1 AND t4.rnum <= #{currPage}*10
    
    ]]>
      
   </select>
      
   <!-- 1차검토 해야할 일 수 -->
   <select id="selectCntFirstCheckToDo" resultType="int">
   <![CDATA[
   SELECT COUNT(*) 
   FROM(SELECT d.*
         FROM(SELECT * 
            FROM (SELECT * 
                  FROM Store_order_reservation 
                  WHERE emp_code 
                  IN(SELECT emp_code 
                     FROM Employee 
                     WHERE branch_no 
                     IN (SELECT branch_no 
                        FROM Area 
                        WHERE dept_no = 21
                       )
                   )
             )t1, Employee E
             WHERE t1.emp_code = E.emp_code
         )t2 , Store_order_detail D
         WHERE t2.store_order_res_code = D.store_order_res_code
         AND D.store_order_detail_no 
          IN (SELECT store_order_detail_no
             FROM Process_status
             WHERE store_order_detail_no IN
                                         (SELECT store_order_detail_no
                                         FROM Process_status
                                         GROUP BY store_order_detail_no
                                         HAVING MAX(process_no) = 1)
            AND flag='Y'
            AND process_no = 1
            )
      AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
    ORDER BY D.store_order_detail_no DESC)
   ]]>
   </select>
   
   <!-- 1차검토 게시글 수  -->
   <select id="selectCntFirstCheckList" resultType="int">
   <![CDATA[
   SELECT COUNT(*) 
   FROM (SELECT d.*
        FROM(SELECT *
            FROM (SELECT *
                 FROM Store_order_reservation
                 WHERE emp_code
                 IN(SELECT emp_code
                     FROM Employee
                     WHERE branch_no
                    IN (SELECT branch_no 
                        FROM Area 
                        WHERE dept_no = #{dept_no}
                       )
                   )
             )t1, Employee E
         WHERE t1.emp_code = E.emp_code
      )t2 , Store_order_detail D
      WHERE t2.store_order_res_code = D.store_order_res_code
      AND D.store_order_detail_no 
       IN (SELECT store_order_detail_no
              FROM Process_status
              WHERE store_order_detail_no IN
                                         (SELECT store_order_detail_no
                                         FROM Process_status
                                         GROUP BY store_order_detail_no
                                         HAVING MAX(process_no) = 1)
            AND flag='Y'
            AND process_no = 1
            )
            
      AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
         ]]>
         
         <if test="store_order_res_no != null">
          AND d.store_order_res_code IN (SELECT store_order_res_code FROM Store_order_reservation WHERE store_order_res_no Like '%'|| #{store_order_res_no} ||'%')
         </if>
         
         <if test="store_order_detail_no != 0">
         AND d.store_order_detail_no = #{store_order_detail_no}
         </if>
         
         
         <if test="product_name != null">
            AND d.product_no IN (SELECT product_no FROM product WHERE product_name Like '%' || #{product_name} || '%')
         </if>
      
         
         <if test="emp_name != null">
             AND d.store_order_res_code IN(
                                     SELECT store_order_res_code FROM Employee E, Store_order_reservation S
                                     WHERE E.emp_code = S.emp_code
                                     AND E.emp_name Like '%' || #{emp_name} || '%'
                                     )
           </if>
         
         
         <if test="start_date!=null and end_date!=null">
         AND d.store_order_generating_time
         BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD')
         AND TO_DATE(#{end_date},'YYYY-MM-DD')
         </if>
         
         <![CDATA[
         ORDER BY D.store_order_detail_no DESC)
         ]]>
         
   </select>   
      

      
   <!-- 출고요청 전체리스트 -->
   <select id="selectListByProNoTwo" resultType="com.bt.vo.StoreOrderDetailVo">
      
      <![CDATA[
      SELECT * 
      FROM(SELECT ROWNUM rnum, t3.*
         FROM(SELECT d.*
              FROM(SELECT *
                   FROM (SELECT *
                         FROM Store_order_reservation
                         WHERE emp_code
                         IN(SELECT emp_code
                            FROM Employee
                            WHERE branch_no
                            IN (SELECT branch_no 
                                FROM Area 
                                WHERE dept_no = #{dept_no})
                           ))t1, Employee E
                    WHERE t1.emp_code = E.emp_code
                    )t2 , Store_order_detail D
               WHERE t2.store_order_res_code = D.store_order_res_code
               AND D.store_order_detail_no 
               IN (SELECT store_order_detail_no
                   FROM Process_status
                   WHERE store_order_detail_no IN(SELECT store_order_detail_no
                                                  FROM Process_status
                                                  GROUP BY store_order_detail_no
                                                  HAVING MAX(process_no) = 2)
                   AND flag='Y'
                   AND process_no = 2
                  )
           AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
           ORDER BY D.store_order_detail_no DESC) t3
        ) t4
    WHERE t4.rnum >= (#{currPage}-1)*10+1 AND t4.rnum <= #{currPage}*10
         
            
      ]]>
   </select>
   
   <!-- 출고요청 검색 -->
   <select id="selectSearchListByProNoTwo" resultType="com.bt.vo.StoreOrderDetailVo">
   
   <![CDATA[
   SELECT * 
   FROM(SELECT ROWNUM rnum, t3.*
         FROM(SELECT d.*
           FROM(SELECT *
               FROM(SELECT *
                  FROM Store_order_reservation
                  WHERE emp_code
                  IN(SELECT emp_code
                     FROM Employee
                     WHERE branch_no
                         IN (
                              SELECT branch_no 
                              FROM Area 
                              WHERE dept_no = #{dept_no}
                              )
                      )
                      )t1, Employee E
                  WHERE t1.emp_code = E.emp_code
         )t2 , Store_order_detail D
         WHERE t2.store_order_res_code = D.store_order_res_code
         AND D.store_order_detail_no 
             IN (SELECT store_order_detail_no
                 FROM Process_status
                 WHERE store_order_detail_no IN
                                              (SELECT store_order_detail_no
                                              FROM Process_status
                                              GROUP BY store_order_detail_no
                                              HAVING MAX(process_no) = 2)
                 AND flag='Y'
                 AND process_no = 2
                 )
         AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
      
         ]]>
         
         <if test="store_order_res_no != null">
          AND d.store_order_res_code IN (SELECT store_order_res_code FROM Store_order_reservation WHERE store_order_res_no Like '%'|| #{store_order_res_no} ||'%')
         </if>
         
         <if test="store_order_detail_no != 0">
         AND d.store_order_detail_no = #{store_order_detail_no}
         </if>
         
         
         <if test="product_name != null">
            AND d.product_no IN (SELECT product_no FROM product WHERE product_name Like '%' || #{product_name} || '%')
         </if>
      
         
         <if test="emp_name != null">
             AND d.store_order_res_code IN(
                                     SELECT store_order_res_code FROM Employee E, Store_order_reservation S
                                     WHERE E.emp_code = S.emp_code
                                     AND E.emp_name Like '%' || #{emp_name} || '%'
                                     )
           </if>
         
         
         <if test="start_date!=null and end_date!=null">
         AND d.store_order_generating_time
         BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD')
         AND TO_DATE(#{end_date},'YYYY-MM-DD')
         </if>
         
   <![CDATA[
          ORDER BY D.store_order_detail_no DESC) t3
        ) t4
    WHERE t4.rnum >= (#{currPage}-1)*10+1 AND t4.rnum <= #{currPage}*10
    
    ]]>
   </select>
   
   <!-- 출고요청 해야할 일 수 -->
   <select id="selectCntLastCheckToDo" resultType="int">
   <![CDATA[
   SELECT COUNT(*) 
   FROM(SELECT d.*
         FROM(SELECT * 
            FROM (SELECT * 
                  FROM Store_order_reservation 
                  WHERE emp_code 
                  IN(SELECT emp_code 
                     FROM Employee 
                     WHERE branch_no 
                     IN (SELECT branch_no 
                        FROM Area 
                        WHERE dept_no = 21
                       )
                   )
             )t1, Employee E
             WHERE t1.emp_code = E.emp_code
         )t2 , Store_order_detail D
         WHERE t2.store_order_res_code = D.store_order_res_code
         AND D.store_order_detail_no 
          IN (SELECT store_order_detail_no
             FROM Process_status
             WHERE store_order_detail_no IN
                                         (SELECT store_order_detail_no
                                         FROM Process_status
                                         GROUP BY store_order_detail_no
                                         HAVING MAX(process_no) = 2)
            AND flag='Y'
            AND process_no = 2
            )
      AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
    ORDER BY D.store_order_detail_no DESC)
   ]]>
   </select>
   
   
      
   <!-- 출고요청 게시글 수  -->
   <select id="selectCntLastCheckList" resultType="int">
   <![CDATA[
   SELECT COUNT(*) 
   FROM (SELECT d.*
        FROM(SELECT *
            FROM (SELECT *
                 FROM Store_order_reservation
                 WHERE emp_code
                 IN(SELECT emp_code
                     FROM Employee
                     WHERE branch_no
                    IN (SELECT branch_no 
                        FROM Area 
                        WHERE dept_no = #{dept_no}
                       )
                   )
             )t1, Employee E
         WHERE t1.emp_code = E.emp_code
      )t2 , Store_order_detail D
      WHERE t2.store_order_res_code = D.store_order_res_code
      AND D.store_order_detail_no 
       IN (SELECT store_order_detail_no
              FROM Process_status
              WHERE store_order_detail_no IN
                                         (SELECT store_order_detail_no
                                         FROM Process_status
                                         GROUP BY store_order_detail_no
                                         HAVING MAX(process_no) = 2)
            AND flag='Y'
            AND process_no = 2
            )
            
      AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
         ]]>
         
         <if test="store_order_res_no != null">
          AND d.store_order_res_code IN (SELECT store_order_res_code FROM Store_order_reservation WHERE store_order_res_no Like '%'|| #{store_order_res_no} ||'%')
         </if>
         
         <if test="store_order_detail_no != 0">
         AND d.store_order_detail_no = #{store_order_detail_no}
         </if>
         
         
         <if test="product_name != null">
            AND d.product_no IN (SELECT product_no FROM product WHERE product_name Like '%' || #{product_name} || '%')
         </if>
      
         
         <if test="emp_name != null">
             AND d.store_order_res_code IN(
                                     SELECT store_order_res_code FROM Employee E, Store_order_reservation S
                                     WHERE E.emp_code = S.emp_code
                                     AND E.emp_name Like '%' || #{emp_name} || '%'
                                     )
           </if>
         
         
         <if test="start_date!=null and end_date!=null">
         AND d.store_order_generating_time
         BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD')
         AND TO_DATE(#{end_date},'YYYY-MM-DD')
         </if>
         
         <![CDATA[
         ORDER BY D.store_order_detail_no DESC)
         ]]>
         
   </select>   
      
      
   <!-- 검색없는 발주반려 리스트 -->   
   <select id="selectListByOneTwoThree" resultType="com.bt.vo.StoreOrderDetailVo">
   
      <![CDATA[
      SELECT * 
      FROM(SELECT ROWNUM rnum, t3.*
         FROM(SELECT d.*
              FROM(SELECT *
                   FROM (SELECT *
                         FROM Store_order_reservation
                         WHERE emp_code
                         IN(SELECT emp_code
                            FROM Employee
                            WHERE branch_no
                            IN (SELECT branch_no 
                                FROM Area 
                                WHERE dept_no = #{dept_no})
                           ))t1, Employee E
                    WHERE t1.emp_code = E.emp_code
                    )t2 , Store_order_detail D
               WHERE t2.store_order_res_code = D.store_order_res_code
               AND D.store_order_detail_no 
               IN (SELECT store_order_detail_no
                 FROM Process_status
                 WHERE store_order_detail_no IN
                                           (SELECT store_order_detail_no
                                           FROM Process_status
                                           GROUP BY store_order_detail_no
                                           HAVING MAX(process_no) = 1 OR MAX(process_no) = 2 OR MAX(process_no) = 3)
                AND flag='Y'
                AND process_no IN (1,2,3)
                  )
           AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
           ORDER BY D.store_order_detail_no DESC) t3
        ) t4
    WHERE t4.rnum >= (#{currPage}-1)*10+1 AND t4.rnum <= #{currPage}*10
         
            
      ]]>
   
   </select>   
   
   
   <!-- 검색하는 발주반려 리스트 -->   
   <select id="selectSearchListByOneTwoThree" resultType="com.bt.vo.StoreOrderDetailVo">
   <![CDATA[
   SELECT * 
   FROM(SELECT ROWNUM rnum, t3.*
         FROM(SELECT d.*
           FROM(SELECT *
               FROM(SELECT *
                  FROM Store_order_reservation
                  WHERE emp_code
                  IN(SELECT emp_code
                     FROM Employee
                     WHERE branch_no
                         IN (
                              SELECT branch_no 
                              FROM Area 
                              WHERE dept_no = #{dept_no}
                              )
                      )
                      )t1, Employee E
                  WHERE t1.emp_code = E.emp_code
         )t2 , Store_order_detail D
         WHERE t2.store_order_res_code = D.store_order_res_code
         AND D.store_order_detail_no 
             IN (SELECT store_order_detail_no
                 FROM Process_status
                 WHERE store_order_detail_no IN
                                           (SELECT store_order_detail_no
                                           FROM Process_status
                                           GROUP BY store_order_detail_no
                                           HAVING MAX(process_no) = 1 OR MAX(process_no) = 2 OR MAX(process_no) = 3)
                   AND flag='Y'
                   AND process_no IN (1,2,3)
                 )
         AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
      
         ]]>
         
         <if test="store_order_res_no != null">
          AND d.store_order_res_code IN (SELECT store_order_res_code FROM Store_order_reservation WHERE store_order_res_no Like '%'|| #{store_order_res_no} ||'%')
         </if>
         
         <if test="store_order_detail_no != 0">
         AND d.store_order_detail_no = #{store_order_detail_no}
         </if>
         
         
         <if test="product_name != null">
            AND d.product_no IN (SELECT product_no FROM product WHERE product_name Like '%' || #{product_name} || '%')
         </if>
      
         
         <if test="emp_name != null">
             AND d.store_order_res_code IN(
                                     SELECT store_order_res_code FROM Employee E, Store_order_reservation S
                                     WHERE E.emp_code = S.emp_code
                                     AND E.emp_name Like '%' || #{emp_name} || '%'
                                     )
           </if>
         
         
         <if test="start_date!=null and end_date!=null">
         AND d.store_order_generating_time
         BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD')
         AND TO_DATE(#{end_date},'YYYY-MM-DD')
         </if>
         
   <![CDATA[
          ORDER BY D.store_order_detail_no DESC) t3
        ) t4
    WHERE t4.rnum >= (#{currPage}-1)*10+1 AND t4.rnum <= #{currPage}*10
    
    ]]>
   </select>   
   
   <!-- 발주반려 게시글 수 -->
   <select id="selectCntDeleteList" resultType="int">
   <![CDATA[
   SELECT COUNT(*) 
   FROM (SELECT d.*
        FROM(SELECT *
            FROM (SELECT *
                 FROM Store_order_reservation
                 WHERE emp_code
                 IN(SELECT emp_code
                     FROM Employee
                     WHERE branch_no
                    IN (SELECT branch_no 
                        FROM Area 
                        WHERE dept_no = #{dept_no}
                       )
                   )
             )t1, Employee E
         WHERE t1.emp_code = E.emp_code
      )t2 , Store_order_detail D
      WHERE t2.store_order_res_code = D.store_order_res_code
      AND D.store_order_detail_no 
       IN (SELECT store_order_detail_no
           FROM Process_status
           WHERE store_order_detail_no IN
                                           (SELECT store_order_detail_no
                                           FROM Process_status
                                           GROUP BY store_order_detail_no
                                           HAVING MAX(process_no) = 1 OR MAX(process_no) = 2 OR MAX(process_no) = 3)
           AND flag='Y'
           AND process_no IN (1,2,3)
            )
            
      AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
         ]]>
         
         <if test="store_order_res_no != null">
          AND d.store_order_res_code IN (SELECT store_order_res_code FROM Store_order_reservation WHERE store_order_res_no Like '%'|| #{store_order_res_no} ||'%')
         </if>
         
         <if test="store_order_detail_no != 0">
         AND d.store_order_detail_no = #{store_order_detail_no}
         </if>
         
         
         <if test="product_name != null">
            AND d.product_no IN (SELECT product_no FROM product WHERE product_name Like '%' || #{product_name} || '%')
         </if>
      
         
         <if test="emp_name != null">
             AND d.store_order_res_code IN(
                                     SELECT store_order_res_code FROM Employee E, Store_order_reservation S
                                     WHERE E.emp_code = S.emp_code
                                     AND E.emp_name Like '%' || #{emp_name} || '%'
                                     )
           </if>
         
         
         <if test="start_date!=null and end_date!=null">
         AND d.store_order_generating_time
         BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD')
         AND TO_DATE(#{end_date},'YYYY-MM-DD')
         </if>
         
         <![CDATA[
         ORDER BY D.store_order_detail_no DESC)
         ]]>
         
   </select>   
   
   <!-- 검색 없는 공장 재선택 -->
    <select id="selectListForReFactory" resultType="com.bt.vo.StoreOrderDetailVo">
   
    <![CDATA[
   SELECT * 
   FROM(SELECT ROWNUM rnum, t3.*
         FROM(SELECT d.*
              FROM(SELECT *
                   FROM (SELECT *
                         FROM Store_order_reservation
                         WHERE emp_code
                         IN(SELECT emp_code
                            FROM Employee
                            WHERE branch_no
                            IN (SELECT branch_no 
                                FROM Area 
                                WHERE dept_no = #{dept_no})
                           ))t1, Employee E
                    WHERE t1.emp_code = E.emp_code
                    )t2 , Store_order_detail D
               WHERE t2.store_order_res_code = D.store_order_res_code
               AND D.store_order_detail_no 
               IN (SELECT store_order_detail_no
                   FROM Process_status
                   WHERE store_order_detail_no IN(SELECT store_order_detail_no
                                                  FROM Process_status
                                                  GROUP BY store_order_detail_no
                                                  HAVING MAX(process_no) = 3)
                   AND flag='R'
                   AND process_no = 3
                  )
           AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
           ORDER BY D.store_order_detail_no DESC) t3
        ) t4
    WHERE t4.rnum >= (#{currPage}-1)*10+1 AND t4.rnum <= #{currPage}*10
    ]]>
    
    
    </select>
    
    
    
    <!-- 검색 있는 공장 재선택 -->
    <select id="selectSearchForReFactory" resultType="com.bt.vo.StoreOrderDetailVo">
   
    <![CDATA[
   SELECT * 
   FROM(SELECT ROWNUM rnum, t3.*
         FROM(SELECT d.*
           FROM(SELECT *
               FROM(SELECT *
                  FROM Store_order_reservation
                  WHERE emp_code
                  IN(SELECT emp_code
                     FROM Employee
                     WHERE branch_no
                         IN (
                              SELECT branch_no 
                              FROM Area 
                              WHERE dept_no = #{dept_no}
                              )
                      )
                      )t1, Employee E
                  WHERE t1.emp_code = E.emp_code
         )t2 , Store_order_detail D
         WHERE t2.store_order_res_code = D.store_order_res_code
         AND D.store_order_detail_no 
             IN (SELECT store_order_detail_no
                 FROM Process_status
                 WHERE store_order_detail_no IN
                                              (SELECT store_order_detail_no
                                              FROM Process_status
                                              GROUP BY store_order_detail_no
                                              HAVING MAX(process_no) = 3)
                 AND flag='R'
                 AND process_no = 3
                 )
         AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
      
         ]]>
         
         <if test="store_order_res_no != null">
          AND d.store_order_res_code IN (SELECT store_order_res_code FROM Store_order_reservation WHERE store_order_res_no Like '%'|| #{store_order_res_no} ||'%')
         </if>
         
         <if test="store_order_detail_no != 0">
         AND d.store_order_detail_no = #{store_order_detail_no}
         </if>
         
         
         <if test="product_name != null">
            AND d.product_no IN (SELECT product_no FROM product WHERE product_name Like '%' || #{product_name} || '%')
         </if>
      
         
         <if test="emp_name != null">
             AND d.store_order_res_code IN(
                                     SELECT store_order_res_code FROM Employee E, Store_order_reservation S
                                     WHERE E.emp_code = S.emp_code
                                     AND E.emp_name Like '%' || #{emp_name} || '%'
                                     )
           </if>
         
         
         <if test="start_date!=null and end_date!=null">
         AND d.store_order_generating_time
         BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD')
         AND TO_DATE(#{end_date},'YYYY-MM-DD')
         </if>
         
   <![CDATA[
          ORDER BY D.store_order_detail_no DESC) t3
        ) t4
    WHERE t4.rnum >= (#{currPage}-1)*10+1 AND t4.rnum <= #{currPage}*10
    
    ]]>
    
    </select>
    
    
    <!-- 공장재선택 해야할 일 수 -->
   <select id="selectCntReselectToDo" resultType="int">
   <![CDATA[
   SELECT COUNT(*) 
   FROM(SELECT d.*
         FROM(SELECT * 
            FROM (SELECT * 
                  FROM Store_order_reservation 
                  WHERE emp_code 
                  IN(SELECT emp_code 
                     FROM Employee 
                     WHERE branch_no 
                     IN (SELECT branch_no 
                        FROM Area 
                        WHERE dept_no = 21
                       )
                   )
             )t1, Employee E
             WHERE t1.emp_code = E.emp_code
         )t2 , Store_order_detail D
         WHERE t2.store_order_res_code = D.store_order_res_code
         AND D.store_order_detail_no 
          IN (SELECT store_order_detail_no
             FROM Process_status
             WHERE store_order_detail_no IN
                                         (SELECT store_order_detail_no
                                         FROM Process_status
                                         GROUP BY store_order_detail_no
                                         HAVING MAX(process_no) = 3)
            AND flag='R'
            AND process_no = 3
            )
      AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
    ORDER BY D.store_order_detail_no DESC)
   ]]>
   </select>
   
    
    
    <!-- 공장재선택 게시글 수 -->
   <select id="selectCntReselectList" resultType="int">
   <![CDATA[
   SELECT COUNT(*) 
   FROM (SELECT d.*
        FROM(SELECT *
            FROM (SELECT *
                 FROM Store_order_reservation
                 WHERE emp_code
                 IN(SELECT emp_code
                     FROM Employee
                     WHERE branch_no
                    IN (SELECT branch_no 
                        FROM Area 
                        WHERE dept_no = #{dept_no}
                       )
                   )
             )t1, Employee E
         WHERE t1.emp_code = E.emp_code
      )t2 , Store_order_detail D
      WHERE t2.store_order_res_code = D.store_order_res_code
      AND D.store_order_detail_no 
       IN (SELECT store_order_detail_no
                 FROM Process_status
                 WHERE store_order_detail_no IN
                                              (SELECT store_order_detail_no
                                              FROM Process_status
                                              GROUP BY store_order_detail_no
                                              HAVING MAX(process_no) = 3)
                 AND flag='R'
                 AND process_no = 3
            )
            
      AND D.store_order_detail_no NOT IN (select store_order_detail_no from process_status where flag='N')
         ]]>
         
         <if test="store_order_res_no != null">
          AND d.store_order_res_code IN (SELECT store_order_res_code FROM Store_order_reservation WHERE store_order_res_no Like '%'|| #{store_order_res_no} ||'%')
         </if>
         
         <if test="store_order_detail_no != 0">
         AND d.store_order_detail_no = #{store_order_detail_no}
         </if>
         
         
         <if test="product_name != null">
            AND d.product_no IN (SELECT product_no FROM product WHERE product_name Like '%' || #{product_name} || '%')
         </if>
      
         
         <if test="emp_name != null">
             AND d.store_order_res_code IN(
                                     SELECT store_order_res_code FROM Employee E, Store_order_reservation S
                                     WHERE E.emp_code = S.emp_code
                                     AND E.emp_name Like '%' || #{emp_name} || '%'
                                     )
           </if>
         
         
         <if test="start_date!=null and end_date!=null">
         AND d.store_order_generating_time
         BETWEEN TO_DATE(#{start_date},'YYYY-MM-DD')
         AND TO_DATE(#{end_date},'YYYY-MM-DD')
         </if>
         
         <![CDATA[
         ORDER BY D.store_order_detail_no DESC)
         ]]>
         
   </select>   
    
   
   <!-- Process_management 키생성 -->
   <select id="createKeyManagement" resultType="int">
   <![CDATA[      
      SELECT Process_management_SEQ.NEXTVAL 
      FROM DUAL      
   ]]>
   </select>
   
   
   <!-- Process_management 인서트(1차검토시) -->
   <insert id="insertProcessManagement">
   <![CDATA[
      INSERT INTO Process_management VALUES(
      #{process_manage_no},
      #{store_order_detail_no},
      'N',
      0,
      #{confirm_qty},
      #{first_emp_code},
      0
      )
   ]]>
   </insert>
   
   <!-- 수정없는 출고요청 Process_management-->
   <update id="updateFactoryBranchNo">
   <![CDATA[
      UPDATE Process_management
      SET branch_no = #{branch_no}, end_emp_code = #{end_emp_code}
      WHERE store_order_detail_no = #{store_order_detail_no}
   ]]>
   </update>
   
   
   <!--수정있는 출고요청  //  확정수량 업데이트 및 공장업데이트 -->
   <update id="updateFactoryBranchNoAndQty">
   <![CDATA[
      UPDATE Process_management
      SET branch_no = #{branch_no} , confirm_qty = #{confirm_qty}, end_emp_code = #{end_emp_code}
      WHERE store_order_detail_no = #{store_order_detail_no}
   ]]>
   </update>
   
   
   <!-- 발주반려 management check_reject 업데이트 -->
   <update id="updateManagementReject">
   <![CDATA[
      UPDATE Process_management
      SET check_reject = 'Y'
      WHERE store_order_detail_no = #{store_order_detail_no}
   ]]>
   </update>
   
      
   <!-- 공장재선택 management branch_no 업데이트 -->
   <update id="updateManagementBranchNo">
   <![CDATA[
      UPDATE Process_management
      SET branch_no = #{branch_no}
      WHERE store_order_detail_no = #{store_order_detail_no}
   ]]>
   </update>

   <!-- Process_no = 2 && flag = 'U' 인서트-->
   <insert id="insertProTwoAndUpdate">
   <![CDATA[
      INSERT INTO Process_status VALUES(
      #{process_status_no},
      #{store_order_detail_no}, 
      2,
      SYSDATE,
      'U'
      )
   ]]>
   </insert>
   
   
   <!-- Process_no = 2 && flag = 'Y' 인서트-->
   <insert id="insertProTwoAndYes">
   <![CDATA[
      INSERT INTO Process_status VALUES(
      #{process_status_no},
      #{store_order_detail_no}, 
      2,
      SYSDATE,
      'Y'
      )
   ]]>
   </insert>
   
   <!-- Process_no = 3 && flag = 'U' 인서트-->
   <insert id="insertProThreeAndUpdate">
   <![CDATA[
      INSERT INTO Process_status VALUES(
      #{process_status_no},
      #{store_order_detail_no}, 
      3,
      SYSDATE,
      'U'
      )
   ]]>
   </insert>
   
   <!-- Process_no = 3 && flag = 'Y' 인서트-->
   <insert id="insertProThreeAndYes">
   <![CDATA[
      INSERT INTO Process_status VALUES(
      #{process_status_no},
      #{store_order_detail_no}, 
      3,
      SYSDATE,
      'Y'
      )
   ]]>
   </insert>
   
   <!-- Process_no = 맥스값 && flag = 'N' 업데이트-->
   <update id="updateProMaxAndReject">
   <![CDATA[
      UPDATE (SELECT * FROM Process_status WHERE store_order_detail_no = #{store_order_detail_no} AND process_no = #{process_no} AND flag='Y') SET flag='N', confirm_date = SYSDATE
   ]]>
   </update>
   
   
   <!-- Process_no = 3 && flag = 'Y' 업데이트-->
   <update id="updateFlagYesByProThree">
   <![CDATA[
      UPDATE (SELECT * FROM Process_status WHERE store_order_detail_no = #{store_order_detail_no} AND process_no = 3 AND flag='R') SET flag='Y'
   ]]>
   </update>
   
   
   
   <!-- detail_no 의 Max값 셀렉트 -->
   <select id="selectMaxByDetailNo" resultType="int">
   <![CDATA[
      SELECT MAX(process_no) FROM Process_status GROUP BY store_order_detail_no HAVING store_order_detail_no = #{store_order_detail_no}
   ]]>
   </select>
   
   <!-- 현재상태 이름확인용 -->
   <select id="selectStatusNameByMaxNo" resultType="com.bt.vo.ProcessListVo">
   <![CDATA[
      SELECT * 
      FROM Process_list
      WHERE process_no = 
            (SELECT MAX(process_no) FROM Process_status GROUP BY store_order_detail_no HAVING store_order_detail_no = #{store_order_detail_no})
   ]]>
   </select>

   <!-- 맥스프로세스의 flag확인용-->
   <select id="selectFlagNameByMaxNo" resultType="com.bt.vo.ProcessStatusVo">
   <![CDATA[
   SELECT * 
   FROM Process_status
   WHERE process_no IN 
       (SELECT MAX(process_no) FROM Process_status GROUP BY store_order_detail_no HAVING store_order_detail_no = #{store_order_detail_no})
   AND store_order_detail_no = #{store_order_detail_no}
   AND flag != 'U'
   
   ]]>
   </select>

   <select id="selectFactoryByProTypeNo" resultType="com.bt.vo.FactoryVo">
   <![CDATA[
      SELECT * 
      FROM Factory
      WHERE product_type_no = #{product_type_no}
   ]]>
   </select>
   
      
   <select id="selectManagementByDetailNo" resultType="com.bt.vo.ProcessManagementVo">
   <![CDATA[
      SELECT * 
      FROM Process_management
      WHERE store_order_detail_no = #{store_order_detail_no}
   ]]>
   </select>
   
   
   <select id="selectByResNo" resultType="com.bt.vo.StoreOrderReservationVo">
   <![CDATA[
      SELECT * 
      FROM Store_order_reservation
      WHERE store_order_res_code = #{store_order_res_code}
   ]]>
   </select>
   

   
   <select id="selectByDetailNo" resultType="com.bt.vo.StoreOrderDetailVo">
      SELECT * 
      FROM Store_order_detail
      WHERE store_order_detail_no = #{store_order_detail_no}
   
   <![CDATA[

   ]]>
   </select>
   
   <select id="selectByProductNo" resultType="com.bt.vo.ProductVo">
   <![CDATA[
      SELECT * 
      FROM Product
      WHERE product_no = #{product_no}
   ]]>
   </select>
   
   <select id="selectByProductTypeNo" resultType="com.bt.vo.ProductTypeVo">
   <![CDATA[
      SELECT * 
      FROM Product_type
      WHERE product_type_no = #{product_type_no}
   ]]>
   </select>
   
   
   <select id="selectByProcessNo" resultType="com.bt.vo.ProcessListVo">
   <![CDATA[
      SELECT * 
      FROM Process_list
      WHERE process_no = #{process_no}
   ]]>
   </select>
   
   
   <select id="selectProcessListByDetailNo" resultType="com.bt.vo.ProcessStatusVo">
   <![CDATA[
      
      SELECT * 
      FROM Process_status
      WHERE store_order_detail_no = #{store_order_detail_no}
      ORDER BY Process_status_no DESC
      
   ]]>
   </select>
   

   <select id="selectDeliveryByDetailNo" resultType="com.bt.vo.DeliveryVo">
   <![CDATA[
      SELECT delivery_date+3 as arrive_delivery_date, d.* FROM Delivery d
     WHERE store_order_detail_no = #{store_order_detail_no}
   ]]>
   </select>




</mapper>