<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bt.mapper.MessageSQLMapper">

   
   <select id="createKeyMessage" resultType="int">
   <![CDATA[      
      SELECT MESSAGE_SEQ.NEXTVAL
      FROM DUAL
      
   ]]>
   </select>


   <insert id="insertContent">
   <![CDATA[
      INSERT INTO Message VALUES(
      #{msg_no},
      #{sender},
      #{receiver},
      #{msg_content},
      #{msg_title},
      SYSDATE,
      'N'
      )
   ]]>
   </insert>
   

   <delete id="deleteContent">
   <![CDATA[
      DELETE
      FROM Message
      WHERE msg_no = #{msg_no}
   ]]>
   </delete>
   
   
   <update id="updateCheck">
   <![CDATA[
      UPDATE Message
      SET check_read = 'Y'
      WHERE msg_no = #{msg_no}
   ]]>
   </update>
   
   <select id="selectByMsgNo" resultType="com.bt.vo.MessageVo">
   <![CDATA[
      SELECT *
       FROM Message
      WHERE msg_no = #{msg_no}
   ]]>
   </select>
   
   <!-- 검색 없는 메시지리스트 -->
   <select id="selectByReceiverNo" resultType="com.bt.vo.MessageVo">
   <![CDATA[
      SELECT *
      FROM (SELECT ROWNUM rnum, t1.* 
            FROM(SELECT *
                 FROM Message
                WHERE receiver = #{receiver}
                ORDER BY msg_no DESC) t1
           ) t2
      WHERE t2.rnum >= (#{currPage}-1)*10+1 AND t2.rnum <= #{currPage}*10
   ]]>
   </select>

   <!-- 검색 있는 메시지리스트 -->
   <select id="selectSearchByReceiverNo" resultType="com.bt.vo.MessageVo">
   <![CDATA[
   SELECT * FROM(
   SELECT ROWNUM rnum, t1.* FROM
   (SELECT *
   FROM Message
   WHERE receiver = #{receiver}
   ]]>
   
   <if test="msg_title!=null">
   AND msg_title LIKE '%'|| #{msg_title} ||'%'
   </if>
   
   <if test="emp_name!=null">
   AND sender IN (SELECT emp_code FROM Employee WHERE emp_name Like '%'|| #{emp_name} ||'%')
   </if>
   
   <if test="branch_name!=null">
   AND sender IN (SELECT E.emp_code FROM Employee E, Branch B WHERE E.branch_no = B.branch_no AND branch_name Like '%'|| #{branch_name} ||'%')
   </if>
   
   <![CDATA[
   ORDER BY msg_no DESC) t1)t2
   WHERE t2.rnum >= (#{currPage}-1)*10+1 AND t2.rnum <= #{currPage}*10
   ]]>
   
   </select>
   
   <!-- 메시지 리스트 게시글 수  -->
   <select id="selectCntMessage" resultType="int">
   <![CDATA[
   SELECT COUNT(*)
   FROM (SELECT *
        FROM Message
          WHERE receiver = #{receiver}
   ]]>
   
   <if test="msg_title!=null">
   AND msg_title LIKE '%'|| #{msg_title} ||'%'
   </if>
   
   <if test="emp_name!=null">
   AND sender IN (SELECT emp_code FROM Employee WHERE emp_name Like '%'|| #{emp_name} ||'%')
   </if>
   
   <if test="branch_name!=null">
   AND sender IN (SELECT E.emp_code FROM Employee E, Branch B WHERE E.branch_no = B.branch_no AND branch_name Like '%'|| #{branch_name} ||'%')
   </if>
   
   <![CDATA[
   ORDER BY msg_no DESC)
   ]]>
   
   </select>
   
   
   
   <!-- 검색 없는 보낸 메시지리스트 -->
   <select id="selectBySenderNo" resultType="com.bt.vo.MessageVo">
   <![CDATA[
      SELECT *
      FROM (SELECT ROWNUM rnum, t1.* 
            FROM(SELECT *
                 FROM Message
                WHERE sender = #{sender}
                ORDER BY msg_no DESC) t1
           ) t2
      WHERE t2.rnum >= (#{currPage}-1)*10+1 AND t2.rnum <= #{currPage}*10
   ]]>
   </select>

   <!-- 검색 있는 보낸 메시지리스트 -->
   <select id="selectSearchBySenderNo" resultType="com.bt.vo.MessageVo">
   <![CDATA[
   SELECT * FROM(
   SELECT ROWNUM rnum, t1.* FROM
   (SELECT *
   FROM Message
   WHERE sender = #{sender}
   ]]>
   
   <if test="msg_title!=null">
   AND msg_title LIKE '%'|| #{msg_title} ||'%'
   </if>
   
   <if test="emp_name!=null">
   AND receiver IN (SELECT emp_code FROM Employee WHERE emp_name Like '%'|| #{emp_name} ||'%')
   </if>
   
   <if test="branch_name!=null">
   AND receiver IN (SELECT E.emp_code FROM Employee E, Branch B WHERE E.branch_no = B.branch_no AND branch_name Like '%'|| #{branch_name} ||'%')
   </if>
   
   <![CDATA[
   ORDER BY msg_no DESC) t1)t2
   WHERE t2.rnum >= (#{currPage}-1)*10+1 AND t2.rnum <= #{currPage}*10
   ]]>
   
   </select>
   
   <!-- 보낸 메시지 게시글 수  -->
   <select id="selectCntSendedMessage" resultType="int">
   <![CDATA[
   SELECT COUNT(*)
   FROM (SELECT *
        FROM Message
        WHERE sender = #{sender}
   ]]>
   
   <if test="msg_title!=null">
   AND msg_title LIKE '%'|| #{msg_title} ||'%'
   </if>
   
   <if test="emp_name!=null">
   AND receiver IN (SELECT emp_code FROM Employee WHERE emp_name Like '%'|| #{emp_name} ||'%')
   </if>
   
   <if test="branch_name!=null">
   AND receiver IN (SELECT E.emp_code FROM Employee E, Branch B WHERE E.branch_no = B.branch_no AND branch_name Like '%'|| #{branch_name} ||'%')
   </if>
   
   <![CDATA[
   ORDER BY msg_no DESC)
   ]]>
   
   </select>

   <!-- 안 읽은 메시지 수 -->
   <select id="selectCntCheckN" resultType="int">
   SELECT COUNT(*) FROM Message WHERE receiver = #{receiver} AND check_read = 'N'
   </select>

</mapper>