<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bt.mapper.SupplierSQLMapper">
   <select id="selectBySn" resultType="com.bt.production.vo.SupplierVo">
   <![CDATA[
      SELECT * FROM Supplier WHERE supplier_no = #{supplier_no}
   ]]>
   </select>
   
   <select id="selectAll" resultType="com.bt.production.vo.SupplierVo">
   <![CDATA[
      SELECT * FROM Supplier
   ]]>
   </select>
   
   <select id="selectByCompNo" resultType="com.bt.production.vo.SupplierVo">
   <![CDATA[
      SELECT * FROM Supplier WHERE comp_no=#{comp_no}
   ]]>
   </select>
   
   <select id="getFactoryOrderDetailInfo" resultType="com.bt.production.vo.SupplierVo">
   <![CDATA[
      select 

      supplier.*

      from 
      supplier,
      factory_order,
      factory_order_detail,
      Product_component,
      branch,
      employee
      where
      factory_order_detail.comp_no = product_component.comp_no 
      and
      factory_order_detail.comp_no = supplier.comp_no
      and
      supplier.comp_no = product_component.comp_no 
      and
      branch.emp_code = factory_order.emp_code
      and
      employee.emp_code = branch.emp_code
      and
      factory_order.factory_order_code = factory_order_detail.factory_order_code
      and
      supplier.supplier_no = factory_order_detail.supplier_no
      and
      factory_order.emp_code=#{emp_code}
      and
      factory_order.factory_order_res_no=#{factory_order_res_no}
      and
      factory_order_detail.factory_order_detail_no=#{factory_order_detail_no}
      ]]>
   </select>
</mapper>